:root {
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #343a40;
    --bs-dark: #f8f9fa;
    --bs-white: #212529;
    --bs-gray: #adb5bd;
    --bs-gray-dark: #6c757d;
  }
  
  body {
    background-color: var(--bs-light);
    color: var(--bs-dark);
    background-image: url('háttér01.png');
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .navbar {
    background-color: var(--bs-gray);
  }
  
  .navbar .nav-link {
    color: var(--bs-dark);
  }
  
  .navbar .nav-link:hover {
    color: var(--bs-gray);
    transition: background-color 0.8s;
  }
 
  input.form-control::placeholder {
    color: var(--bs-dark);
    opacity: 1;
    transition: background-color 0.8s;
  }

  .dark-input {
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
  }
  
  .dark-input::placeholder {
    color: var(--bs-light);
    opacity: 1;
    transition: background-color 0.8s;
  }
  
  .dark-input:focus {
    border-color: var(--bs-white);
    box-shadow: 0 0 0 0.25rem rgb(170, 170, 170);
    transition: background-color 0.8s;
  }

a {
  color: var(--bs-dark);
}

a:hover {
  color: var(--bs-gray);
  transition: background-color 0.8s;
}

.btn {
  background-color: var(--bs-white);
  border-color: var(--bs-gray);
  color: var(--bs-dark);
  transition: background-color 0.8s;
}

.btn:hover {
  background-color: var(--bs-gray-dark);
  border-color: var(--bs-white);
  color: var(--bs-dark);
  box-shadow: 0 0 0 0.25rem rgb(170, 170, 170);
  transition: background-color 0.8s;
}

.a .a-link:hover {
  color: var(--bs-gray);
  text-decoration: underline;
  transition: background-color 0.8s;
}
  
.form-check-input:checked {
  background-color: var(--bs-white);
  border-color: var(--bs-dark);
  transition: background-color 0.8s;
}

.form-check-input:focus {
  border-color: var(--bs-dark);
  box-shadow: 0 0 0 0.25rem rgb(170, 170, 170);
  transition: background-color 0.8s;
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--bs-white);
  border-color: var(--bs-dark);
  color: var(--bs-dark);
  /*border: none;*/
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.8s;
}

#scrollToTop:hover {
  background-color: var(--bs-gray-dark);
  border-color: var(--bs-dark);
  color: var(--bs-dark);
  box-shadow: 0 0 0 0.25rem rgb(170, 170, 170);
  transition: background-color 0.8s;
}